<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GLViewPagerViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADFFFB941EA5F32E002CB3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFFFBAD1EA5F32E002CB3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFFFBB81EA5F32E002CB3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
